namespace {{.ProjectName}}.Interface
{

    public interface I{{.ClassName}}Processor
    {
        public R_SysResBase Add{{.ClassName}}({{.OriginalTableName}} req);

        public R_SysResBase Delete{{.ClassName}}(string bizId);

        public R_SysResBase Update{{.ClassName}}({{.OriginalTableName}} req);

        public R_SysResBase List{{.ClassName}}(Query{{.ClassName}}Req req);

        public R_SysResBase Page{{.ClassName}}(Page{{.ClassName}}Req req);
    }
}